 * {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: auto;
  font-weight: 400;
  color: @orange;
  padding: 0;
  margin: 0;
  @media @tablet-widths {
    font-size: 43px;
    line-height: 50px;
  }
  @media @desktop-widths {
    font-size: 32px;
    letter-spacing: 2px;
  }
}

h2 {
  font-family: Georgia, serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 500;
  color: @white;
  padding: 0;
  margin: 0;
  @media @tablet-widths {
    font-size: 43px;
    line-height: 50px;
  }
  @media @desktop-widths {
    font-size: 44px;
    line-height: 57px;
  }
}

h3 {
  font-family: Georgia, serif;
  color: @title-grey;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  @media @desktop-widths {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
  }
}
