  @bgr-white: #fafafa;
  @white: #fff;
  @bgr-grey: #f6f6f6;
  @grey-text: #b2b2b2;
  @orange: #f1cdb3;
  @title-grey: #545454;
  @text-grey: #4c4c4c;
  @text-light-grey: #c5c5c5;
  @btn-text: #292929;
  @brown: #41382f;
  @tablet-widths: ~"(min-width: 768px)";
  @desktop-widths: ~"(min-width: 1150px)";
  @mobile-widths-only: ~"(max-width: 767px)";
