.donate {
  text-align: center;
  background-color: @bgr-grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.donate__container {
    .container();
}
.donate__info {
  font-family: Georgia;
  color: @title-grey;
  font-size: 12px;
}

.donate__text {
  text-align: left;
  font-family: Arial;
  font-style: italic;
  color: @grey-text;
  font-size: 11px;
}

@media @tablet-widths {

}
