.donate {
  .container();
  text-align: center;
}

.donate__info {
  font-family: Georgia;
  color: @title-grey;
  font-size: 12px;
}

.donate__text {
  text-align: left;
  font-family: Arial;
  font-style: italic;
  color: @grey-text;
  font-size: 11px;
}
