.header {
  background-image: url("../img/head-bgr.jpg");
  background-color: @bgr-black;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.header__wrapper {
  .container ();
}

.header__text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: @white;
  margin: 0;
  padding: 0;
}

.header__about {
  margin-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.header__about-title {
  padding-right: 13px;
  }

.header__about-text {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .5px;
  color: @text-light-grey;
}

@media @tablet-widths {
  .header__container {
    margin-top: 40px;
  }
  .header__about {
    margin-top: 0;
  }
  .header__about-container {
    width: 450px;
    margin: 40px auto;
  }
}

@media @desktop-widths{
  .header {
    min-height: 924px;
    position: relative;
  }
  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
  }

  .header__container {
    width: 700px;
    margin-top: 0;
  }
.header__title {
  font-size: 32px;
}
.header__text {
  font-size: 13px;
}
.header__about {
  width: 420px;
  margin-top: 240px;
  text-align: left;
}

.header__about:after {
  content: "";
background-image: url("../img/head-pet.png");
position: absolute;
right: 0;
top: 0;
width: 974px;
height: 924px;
}
.header__about-container {
  margin: 0;
}

.header__about-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;

}
}
