.pets {
  text-align: center;
  background-color: @bgr-grey;
  padding: 50px 0;
}

.pets__wrapper {
  .container ();
}

.pets__carousel {
  width: 270px;
  position: relative;
  margin: 0 auto 30px;
}

.pets__container {
  width: 270px;
  margin: 15px auto;
  overflow: hidden;
}

.pets__list {
  width: 9999px;
  height: 422px;
  margin: 0;
  padding: 0;
  transition: margin-left 510ms;
  display: flex;
}

.pets__name {
  font-family: Georgia, serif;
  color: @title-grey;
  display: block;
  margin-bottom: 20px;
}

.pets__img {
  display: block;
  margin-bottom: 40px;
  border-radius: 9px 9px 0 0;
}

.pets__item {
  display: inline-block;
  text-align: center;
  width: 270px;
  height: 422px;
  background-color: @bgr-white;
  margin-bottom: 20px;
  margin-right: 40px;
  border-radius: 9px;

  &--catalog {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.pets__arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @bgr-grey;
  border: 2px solid @orange;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;

  &--prev {
    background-image: url("../img/left-arrow.png");
    left: -65px;
  }

  &--next {
    background-image: url("../img/right-arrow.png");
    right: -65px;
  }
}

.pets__arrow:hover {
  background-color: @orange;
}

.pets__arrow:active {
  background-color: @orange-active;
}

.pets__title {
  display: block;
  padding: 0;
}
@media @tablet-widths {
  .pets__carousel {
    width: 600px;
  }

  .pets__container {
    width: 580px;
  }
}
@media @desktop-widths {
  .pets {
    padding: 70px 0;
  }

  .pets__carousel {
    width: 900px;
  }

  .pets__container {
    margin: 70px auto;
    width: 890px;
  }

  .pets__item {
    &--desk {
      display: block;
    }
  }

  .pets__title {
    display: block;
    width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  .pets__arrow {
    position: absolute;
    top: 37%;

    &--prev {
      left: -117px;
    }

    &--next {
      right: -117px;
    }
  }
}
